.container-home {
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-home img {
    width: 30%;
}

.container-home div {
    max-width: 500px;
}

.container-home h1 {
    margin: 20px 20px;
}

.container-home div p {
    margin: 20px 0;
    max-width: 80%;
    line-height: 1.5;
}

.container-home div button {
    background-color: red;
    width: 150px;
    border: none;
    color: #fff;
    border-radius: 25px;
    height: 35px;
}